.img_size{
    margin-top: 40px;
    max-width: 1000px;
    margin-left: 15%;
}

@media screen and (max-width: 900px) {
    .img_size{
        margin-top: 20px;
        max-width: 600px;
        margin-left: 10%;
    }
}

@media screen and (max-width: 600px) {
    .img_size{
        margin-top: 20px;
        max-width: 300px;
        margin-left: 5%;
    }
}

.foot{
    margin-top: 5%;
    align-items: center;
}