<div class="kutu_div" style="background-color: #c7d3db;">
<div style="width:1200px; margin-top: 20px; margin-left: 50px;">
<dx-data-grid
[focusedRowEnabled]="true"
    [dataSource]="employees"
    keyExpr="EmployeeID">

    <dxo-paging [pageSize]="8"></dxo-paging>
    

    <dxi-column dataField="FullName"></dxi-column>
    <dxi-column dataField="Position"></dxi-column>
    <dxi-column dataField="Departman"></dxi-column>
    <dxi-column dataField="Mail"></dxi-column>
    <dxi-column dataField="Tel"></dxi-column>
    


    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-search-panel [visible]="true"></dxo-search-panel>

</dx-data-grid>
</div>
</div>