<dx-data-grid
    [dataSource]="employees">

    <dxo-paging [pageSize]="3"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[3, 5, 8]"
    ></dxo-pager>
    <dxi-column dataField="FullName" [width]="100"></dxi-column>
    <dxi-column dataField="Position"></dxi-column>
    <dxi-column dataField="Departman"></dxi-column>
    <dxi-column dataField="Mail"></dxi-column>


    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-search-panel [visible]="true"></dxo-search-panel>

</dx-data-grid>