.header_label{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    margin-right: 33%;
    font-size: 1.6vw;
}

.header_img{
    width: 7%;
    margin-left: 3%
}

.header_background{
    background-color: #5ca0f2;
    background-image: linear-gradient(315deg, #255b7d 0%, #f5f7f6 74%);
}
