<div class="main_background">
    <app-t4header></app-t4header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" style="width:10%;">
            <app-t4menu></app-t4menu> 
          </div>
          <div class="col-md-10" style="width:90%">
            <app-t4middlearea></app-t4middlearea>
            <div>
              <app-t4footer></app-t4footer>
            </div>
          </div>
        </div>
        
        
      </div>
    
    </div>

    