<div style="margin-top: 20px; max-width: 70%; margin-left: 10%;">

    <div class=" mb-3 kutu_div menu_background" style="max-width: 20rem;">
      <div class="menu_font">      
        <img style="max-width: 50%;" src="https://www.freeiconspng.com/uploads/user-login-icon-14.png">
        <p style="margin-top: 5px;">Login</p>
      </div>
    </div>
  
  
    
    <div class="menu_margin mb-3 kutu_div menu_background" style="max-width: 20rem;">
      <div class=" menu_font">
        <h5 class=" menu_font">{{today | date}}</h5>
        <h5 class=" menu_font">{{today | date:'shortTime'}}</h5>
      </div>
    </div>
  
  
  
     
    <div class="menu_margin mb-3 kutu_div menu_background" style="max-width: 20rem;">
      <div class=" menu_font">
        <h5 class=" menu_font">Altınova</h5>
        <h5 class=" menu_font">24° Güneşli ☼</h5>
      </div>
    </div>
  
  
      <div class=" menu_img mb-3 " style="max-width: 20rem;">
        <div class="menu_list">
          <div><h5 style=" font-weight: bold; font-size: 0.9vw;">Günün Menüsü</h5></div>
          <div>◾ {{menu1}}</div>
          <div>◾ {{menu2}}</div>
          <div>◾ {{menu3}}</div>
          <div>◾ {{menu4}}</div>
          <div>◾ {{menu5}}</div>
        </div>
        
      </div>
  
  
  
  
  
  
  </div>
  
  
  