<div style="margin-top: 20px; max-width: 100%;">

  <div class=" mb-3 kutu_div menu_background" style="width: 183.25px;">
    <div class="menu_font row">      
      <div class="col login_img">
      <img style="max-width: 100%;" src="https://www.freeiconspng.com/uploads/user-login-icon-14.png">
    </div>
    <div class="col">
      <label style="margin-top: 35px;">Login</label>
    </div>
    </div>
  </div>

   
    <div class="hava_img">
    <div style="padding-top: 5px; padding-left: 20px; color: white;">
      <div>24° Güneşli</div>
      <div>Altınova</div>      
    </div>
  </div>


  <div class="saat_img">
    <div style="padding-top: 20px; padding-left: 10px; color: white;">
      <div>{{today | date}}</div>
      <div>{{today | date:'HH:mm'}}</div>
    </div>
  </div>


    <div class="doviz_img" >
      <div style="margin-left: 55px; padding-top: 15px;">
        <div >{{usd}}</div>
        <div style="padding-top: 7px;" >{{eur}}</div>
        <div style="padding-top: 7px;" >{{btc}}</div>    
      </div>
      </div>




    <div class=" menu_img" >
      <div class="menu_list">
        <div><h5 class="menu_title">Günün Menüsü</h5></div>
        <div>◾ {{menu1}}</div>
        <div>◾ {{menu2}}</div>
        <div>◾ {{menu3}}</div>
        <div>◾ {{menu4}}</div>
        <div>◾ {{menu5}}</div>
      </div>
  </div>




</div>



